{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to AppointMeNext</title>
    <link rel="stylesheet" type="text/css" href="{% static 'appointments/styles.css' %}">
</head>
<body>
    <div class="button-container">
        <a href="{% url 'register' %}"><button>Register</button></a>
        <a href="{% url 'login' %}"><button>Login</button></a>
    </div>

    <h1>Welcome to AppointMeNext</h1>
    <p>The app that will make your way to your next appointment faster and easier!</p>

    <div id="short-sentences">
        <p>Schedule Appointment</p>
        <p>Edit</p>
        <p>Cancel</p>
        <p>View Your Business Appointments Calendar</p>
    </div>
</body>
</html>
